<div class="wm-slide">
  <img
    src="assets/images/slide-text.png"
    alt="Info Text"
    class="wm-slide__info-text"
  />
  <div class="wm-slide__slide-img">
    <img
      class="animate__animated animate__slideInUp"
      src="assets/images/hmo-3.png"
      alt=""
    />
    <img
      class="animate__animated animate__fadeInLeft"
      src="assets/images/benefits.png"
      alt=""
    />
  </div>

  <div class="wm-slide__versus-text">
    <span>*vs formula without HMO supplementation</span>
    <span>**based on a pre-clinical study done in animals</span>
  </div>
</div>
